.header {
    padding: 2rem;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.05);
}

.header__title {
    padding-bottom: 1rem;
    font-size: 2.5rem;
}

.header__title span {
    color: #FFCF01;
}

.header__link {
    padding-right: 1rem;
    transition: .3s;
}

.header__link:hover {
    color: #FFCF01;
}